/* Reset default margin and padding for the entire page */
body, ul {
    margin: 0;
    padding: 0;
    background-color: black;
    color: #fff;
}

/* Style the navigation bar */
.custom-nav {
    background-color: black; /* Set the initial background color to black */
    animation: fade-background 3s infinite alternate;
    color: #fff; /* Set the text color to white */
    position: sticky;
    top: 0;
    /* Use flexbox to horizontally spread the navigation links */
    display: flex;
    justify-content: space-between;
    padding-right: 3vh;
    height: sum(1vh+1vw);
    z-index: 2;
}

nav {
    padding-top: 2.5vw;
}

figure {
    display: flex;
    justify-content: center;
    align-items: center;
}


/* Style the navigation links */
nav ul {
    list-style: none; /* Remove the default bullet points from the list */
}

nav li {
    /* Remove inline-block display property for list items */
    display: block;
}

nav a {
    text-decoration: none; /* Remove the default underline from the links */
    color: #fff; /* Set the link text color to white */
    padding-left: 2vw;
    font-size: 2vw;
    font-family: Verdana;
}

nav a:hover {
    font-style: italic; /* Add underline on hover to indicate interactivity */
}

.current:hover {
    font-style:normal;
}

#profile_pic {
    width: 300px; /* Adjust the width and height as needed */
    height: 300px;
    border-radius: 50%; /* Crop the image into a circle */
}

h2 {
    text-align: center;
    font-size: 4vw;
}

h1 {
    padding-left: 3vw;
    font-size: 3vw;
}

.video-collection {
    display: flex;
    flex-wrap: wrap;
    gap: 2vw;
    padding-left: calc(1vh+1vw);
}

#profile {
    display: flex;
    justify-content: center;
    align-items: center;
    vertical-align: top;
    display: inline-block;
    width: 120px;
}

#background-video {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1; /* Place the video below other elements */
    opacity: 1;
}


.video-component {
    display: inline-flex;
    padding-left: calc(0.5vh + 0.5vw);
    padding-right: calc(0.5vh + 0.5vw);
    width: 50vw;
    flex-direction: column;
    word-break: break-word;
    align-items: flex-start;
}


#gallery {
    display: flex;
    overflow-x: auto; /* Enable horizontal scrolling */
    white-space: nowrap; /* Prevent videos from wrapping to new lines */
    scroll-behavior: smooth;
    height: 42vw;
    width: 100vw;
    z-index: 0;
}

.backgroundContent {
    /* Set the content's width and height as needed */
    width: 100%;
    height: 100%;
    /* Add other styles for the content container if necessary */
    background-color: black; /* Set the initial background color to black */
    animation: fade-background 3s infinite alternate;
}

/* Animation */
@keyframes fade-background {
    from {
        background-color: black;
    }
    to {
        background-color: rgb(50, 0, 0);
    }
}
@keyframes fade-in-opacity {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes fade-out-opacity {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}

@keyframes fade-in-opacity-overlay-main {
    from {
        opacity: 0;
    }
    to {
        opacity: 0.7;
    }
}


@keyframes fade-out-opacity-overlay-main {
    from {
        opacity: 0.7;
    }
    to {
        opacity: 0;
    }
}

.overlayMain {
    padding-top: 2.5vw;
    font-size: 7vw;
    font-family: Verdana;
    font-weight: bold;
    text-shadow: 0 0 2vw #000000;
    opacity: 0.7;
    text-align: center;
    z-index: 1;
}

.overlaySub {
    display: flex;
    font-size: 100%;
    font-family: Verdana;
    font-weight: bold;
    object-fit: cover;
    text-shadow: 0 0 2vw #000000;
    opacity: 0.7;
    grid-area: 1 / 1;
    justify-content: center; /* Vertically center the text */
    align-items: center; 
    padding: 1vw;
}

.embedTitle {
    font-size: 2vw;
    width: 100%;
    white-space: normal; 
    overflow-wrap: break-word; 
    word-wrap: break-word;
    white-space: normal; 
}

.embedDesc {
    font-size: 1.5vw;
    width: 100%;
    white-space: normal; 
    overflow-wrap: break-word; 
    word-wrap: break-word;
    white-space: normal; 
}

iframe {
    width: 30vw; 
    height: 20vw;
}

