/* Reset default margin and padding for the entire page */
body, ul {
    margin: 0;
    padding: 0;
    background-color: black;
    color: #fff;
}

body {
    font-family: Verdana;
    overflow-x: hidden;
    max-width: 100%;
}

figure {
    display: flex;
    justify-content: center;
    align-items: center;
}

h1 {
    padding-left: 3vw;
    font-size: 3vw;
    font-family: Verdana;
}

h2 {
    text-align: center;
    font-size: 4vw;
}

iframe {
    width: 45vw; 
    height: 25vw;
}
nav {
    padding-top: 2vw;
}

/* Style the navigation links */
nav ul {
    list-style: none; /* Remove the default bullet points from the list */
}

nav li {
    /* Remove inline-block display property for list items */
    display: block;
}

nav a {
    text-decoration: none; /* Remove the default underline from the links */
    color: #fff; /* Set the link text color to white */
    padding-left: 2vw;
    font-size: 2vw;
    font-family: Verdana;
}

nav a:hover {
    font-style: italic; /* Add underline on hover to indicate interactivity */
}

.backgroundContent {
    /* Set the content's width and height as needed */
    width: 100%;
    height: 100%;
    /* Add other styles for the content container if necessary */
    background-color: black; /* Set the initial background color to black */
    animation: fade-background 3s infinite alternate;
}

.cinemaChangeButton {
    grid-area: 1 / 1;
    width: 80%;
    height: 80%;
    justify-self: center;
    font-size: 3vw;
    font-weight: bold;
}

.cinemaVideo {
    width:78vw;
    z-index: -1; /* Place the video below other elements */
    opacity: 1;
    display: flex;
    justify-content: center; /* Horizontally center the video */
    border-radius: calc(1vw + 1vh); 
    box-sizing: border-box;
}

/* Hide controls when in fullscreen mode */
.cinemaVideo::-webkit-media-controls {
    display: none;
  }
  
/* Show controls when not in fullscreen mode */
.cinemaVideo:not(:-webkit-full-screen)::-webkit-media-controls {
    display: inherit;
}

.current:hover {
    font-style:normal;
}

.custom-nav {
    background-color: black; /* Set the initial background color to black */
    animation: fade-background 3s infinite alternate;
    color: #fff; /* Set the text color to white */
    position:sticky;
    top: 0;
    /* Use flexbox to horizontally spread the navigation links */
    display: flex;
    justify-content: space-between;
    padding-right: 3vh;
    z-index: 3;
    height: 7vw;
}

/* Style the navigation bar */
.custom-nav-home {
    background-color: black; /* Set the initial background color to black */
    animation: fade-background 3s infinite alternate;
    color: #fff; /* Set the text color to white */
    top: 0;
    position: sticky;
    /* Use flexbox to horizontally spread the navigation links */
    display: flex;
    justify-content: space-between;
    padding-right: 3vh;
    height: calc(6vh+5vw);
    z-index: 20;
}

.embedDesc {
    font-size: 1.5vw;
    width: 100%;
    white-space: normal; 
    overflow-wrap: break-word; 
    word-wrap: break-word;
    white-space: normal; 
    font-family: Verdana;
}

.embedTitle {
    font-size: 2vw;
    white-space: normal; 
    overflow-wrap: break-word; 
    word-wrap: break-word;
    font-family: Verdana;
}

.fullscreen-button {
    background-color: transparent;
    border: none;
    cursor: pointer;
    position:relative;
    top: 38.5vw;
    left: 72vw;
    height: calc(2.5vw + 2.5vh);
    width: calc(2.5vw + 2.5vh);
    grid-area: 1 / 1;
    z-index: 15;
    border-radius: calc(0.5vw + 0.5vh);
}

.overlayMain {
    font-size: 7vw;
    font-family: Verdana;
    font-weight: bold;
    text-shadow: 0 0 2vw #000000;
    opacity: 0.7;
    text-align: center;
    z-index: 1;
}

.overlaySub {
    display: flex;
    font-family: Verdana;
    font-weight: bold;
    padding-left: 1vw;
    text-shadow: 0 0 2vw #000000;
    opacity: 0;
    grid-area: 1 / 1;
    justify-content: center; /* Vertically center the text */
    align-items: center; 
    overflow-wrap: break-word; 
    word-wrap: break-word;
}

.overlaySub a {
    text-decoration: underline;
    display: inline-flex;
    color: white;

    
}

.thumbnail {
    flex-direction: column;
    word-break: break-word;
    align-items: center;
    justify-self: center;
    padding-top: 1.9vw;
}

.thumbnail img {
    width: 16.4vw;
    height: 10vw;
    border-radius: calc(0.5vw + 0.5vh);
}

.video-collection {
    display: flex;
    flex-wrap: wrap;
    gap: 3.5vw;
    padding-left: calc(0.5vw + 0.5vh);;
    padding-right: 1vw;
    justify-content: center;
}

.video-collection-cinema {
    padding-left: 1.5vw;
    padding-right: 1vw;
    flex-wrap: wrap;
    width: 17vw;
    background-color: (50, 0, 0, 0.5); /* Set the initial background color to black */
    animation: fade-background-dim 3s infinite alternate;
    border-radius: calc(0.5vw + 0.5vh);
    align-self: center;
    display: flex;
    overflow-y: auto; /* Enable horizontal scrolling */
    white-space: nowrap; /* Prevent videos from wrapping to new lines */
    scroll-behavior: smooth;
    max-height: 38vw;
    grid-area: 2 / 1;
}

.video-collection-cinema-wrapper {
    display: grid;
    height: 46vw;
}


.video-collection-cinema-item {
    flex: 0 0 calc(15%);
    flex-direction: column;
    word-break: break-word;
    align-items: flex-start;
    padding-bottom: calc(3vw + 2vh);
    justify-content: flex-start;
}

.video-collection-item {
    flex: 0 0 calc(45%);
    flex-direction: column;
    word-break: break-word;
    align-items: flex-start;
    padding-bottom: calc(3vw + 2vh);
    justify-content: flex-start;
}

.video-component {
    display: inline-flex;
    padding-left: calc(0.5vh + 0.5vw);
    padding-right: calc(0.5vh + 0.5vw);
    width: 50vw;
    flex-direction: column;
    word-break: break-word;
    align-items: flex-start;
}


#background-video {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    max-width: 100%;
    max-height: 100%;
    min-width: 100%;
    min-height: 100%;
    align-items:start;
    z-index: -1; /* Place the video below other elements */
    opacity: 1;
}

#gallery {
    display: flex;
    overflow-x: scroll; /* Enable horizontal scrolling */
    white-space: nowrap; /* Prevent videos from wrapping to new lines */
    scroll-behavior:smooth;
    scrollbar-color: rgb(38, 0, 255);
    scrollbar-width: 5vw;
    height: 45vw;
    width: 100vw;
    z-index: 100;
    padding-left: 1vw
}

#profile_pic {
    width: 300px; /* Adjust the width and height as needed */
    height: 300px;
    border-radius: 50%; /* Crop the image into a circle */
}

#profile {
    display: flex;
    justify-content: center;
    align-items: center;
    vertical-align: top;
    display: inline-block;
    width: 120px;
}


/* Animation */
@keyframes fade-background {
    from {
        background-color: black;
    }
    to {
        background-color: rgb(50, 0, 0);
    }
}
/* Animation */
@keyframes fade-background-dim {
    from {
        background-color: rgb(50, 0, 0, 0.5);
    }
    to {
        background-color: rgb(0, 0, 0, 0.5);
    }
}
@keyframes fade-in-opacity {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes fade-out-opacity {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}

@keyframes fade-in-opacity-overlay-main {
    from {
        opacity: 0;
    }
    to {
        opacity: 0.7;
    }
}


@keyframes fade-out-opacity-overlay-main {
    from {
        opacity: 0.7;
    }
    to {
        opacity: 0;
    }
}


.slider {
    width: 200%;
    height: 65vw;
    align-items: center;
    justify-content: start;
    position: relative;
    overflow: hidden;
  }
  
  .slider__wrapper {
    position: relative;
    width: 100%;
    height: 100%;
    
  }
  
  #slider-checkbox {
    position: relative;
    cursor: pointer;
    z-index: 100;
    opacity: 0;
    height: 40vw; 
    width: 6vw;
    top: 10vw; 
    left: 93vw;
  }
  
  input[type=checkbox]:checked ~ .slider__panel--left {
    transform: translateX(0);
  }
  
  input[type=checkbox]:checked ~ .slider__panel--right {
    transform: translateX(0);
  }
  
  input[type=checkbox]:not(:checked) ~ .slider__content {
    z-index: -10;
  }

  input[type=checkbox]:checked ~ .slider__content {
    z-index: 14;
  }

  .slider__panel {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    position: absolute;
    width: 50%;
    top: 0;
    transition: transform 0.5s ease-out;
    z-index: 2;
  }
  
  .slider__panel--left {
    transform: translateX(-100%);
    overflow: hidden; /* Hide horizontal overflow */
  }
  
  .slider__panel--right {
    left: 50%;
    padding-left: 5vw;
    transform: translateX(-100%);
    overflow: hidden; /* Hide horizontal overflow */
  }
  
  .slider__content {
    align-items: center;
    color: #fff;
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: center;
    position: absolute;
    text-align: center;
    z-index: 1;
    width: 100%;
    font-size: 5vw;
    transition: transform 0.5s ease-out;
  
    img {
      width: 20%;
    }
  }

  #slider-checkbox-icon {
    height: 40vw; 
    width: 6vw;
    top: 10vw; 
    left: 93vw; 
    background-color: rgba(147, 147, 147, 0.5); 
    border-radius: calc(0.5vw + 0.5vh); 
    box-shadow: 0 0 0.5vw #000000; 
    grid-area: 1 / 1; 
    position: absolute;
    z-index: 17;
  }

  .curtain {
    display: flex;
    padding-top: 0.5vw;
    padding-left: 0.5vw;
    width: 98.75%;
    height: 96%;
    align-items: center;
    justify-content: center;
    position: relative;
    overflow: hidden;
    border-radius: calc(1vw + 1vh);
  }
  
  .curtain__wrapper {
    position: relative;
    width: 100%;
    height: 100%;
    
  }
  
  #curtain-checkbox {
    position: relative;
    cursor: pointer;
    z-index: 100;
    opacity: 0;
    top: 1vw;
    left: 1vw;
    height: calc(2.5vw + 2.5vh);
    width: calc(2.5vw + 2.5vh);
  }
  
  input[type=checkbox]:checked ~ .curtain__panel--left {
    transform: translateX(0);
  }
  
  input[type=checkbox]:checked ~ .curtain__panel--right {
    transform: translateX(0);
  }
  
  input[type=checkbox]:not(:checked) ~ .curtain__content {
    z-index: -10;
  }

  input[type=checkbox]:checked ~ .curtain__content {
    z-index: 15;
  }

  .curtain__panel {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #1c1c1c;
    color: #fff;
    position: absolute;
    width: 50.5%;
    height: 100%;
    transition: transform 1s ease-out;
    z-index: 2;
  }
  
  .curtain__panel--left {
    left: 0;
    transform: translateX(-100%);
  }
  
  .curtain__panel--right {
    right: 0;
    transform: translateX(100%);
  }
  
  .curtain__content {
    align-items: center;
    color: #fff;
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: center;
    padding: 1rem 0;
    position: absolute;
    text-align: center;
    z-index: 1;
    width: 100%;
    font-size: 5vw;
    transition: transform 1s ease-out;
  
    img {
      width: 20%;
    }
  }

